<%= form_with(model: reservation) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="field">
    <%= form.label :table %>
    <%= form.number_field :table %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.select :client_id, 
    options_from_collection_for_select(clients, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :restaurant_id %>
    <%= form.select :restaurant_id,
    options_from_collection_for_select(restaurants, :id, :name) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
