<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @reservation.date %>
</p>

<p>
  <strong>Table:</strong>
  <%= @reservation.table %>
</p>

<p>
  <strong>Client:</strong>
  <%= @reservation.client.name %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @reservation.restaurant.name %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
