<p id="notice"><%= notice %></p>

<h1>Emersons</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emersons.each do |emerson| %>
      <tr>
        <td><%= emerson.name %></td>
        <td><%= link_to 'Show', emerson %></td>
        <td><%= link_to 'Edit', edit_emerson_path(emerson) %></td>
        <td><%= link_to 'Destroy', emerson, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emerson', new_emerson_path %>
