<p id="notice"><%= notice %></p>

<h1>Libros</h1>

<%= search_form_for @q do |f| %>
  <%= f.label :estado_cont %>
  <%= f.select :estado_cont, {"Prestado"=>0, "En estante"=>1} %>
  <%= f.submit %>
<% end %>

<table>
  <thead>
    <tr>
      <th> <%= sort_link(@q, :titulo) %> </th>
      <th>Autor</th>
      <th>Estado</th>
      <th>Fecha prestamo</th>
      <th>Fecha devolucion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @libros.each do |libro| %>
      <tr>
        <td><%= libro.titulo %></td>
        <td><%= libro.autor %></td>
        <td><%= libro.estado %></td>
        <td><%= libro.fecha_prestamo %></td>
        <td><%= libro.fecha_devolucion %></td>
        <td><%= link_to 'Show', libro %></td>
        <td><%= link_to 'Edit', edit_libro_path(libro) %></td>
        <td><%= link_to 'Destroy', libro, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Libro', new_libro_path %>
