<%= form_with(model: categoria) do |form| %>
  <% if categoria.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(categoria.errors.count, "error") %> prohibited this categoria from being saved:</h2>

      <ul>
        <% categoria.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
