<p id="notice"><%= notice %></p>

<h1>Groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Memebers</th>
      <th>Debut</th>
      <th>Category</th>
      <th>Total Concerts</th>
      <th>Attendance per conert</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @groups.each do |group| %>
      <tr>
        <td><%= group.name %></td>
        <td><%= group.memebers %></td>
        <td><%= group.debut %></td>
        <td><%= group.category %></td>
        <td><%= group.concerts.count %></td>
        <td>
          <div>
            <% group.concerts.each do |c| %>
            <span> <%= c.date %> </span> |
            <span> <%= c.attendance %> </span>
          </div>
          <% end %>
        </td>
        <td><%= link_to 'Show', group %></td>
        <td><%= link_to 'Edit', edit_group_path(group) %></td>
        <td><%= link_to 'Destroy', group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Group', new_group_path %>
