<!DOCTYPE html>
<html>
  <head>
    <title>FirstApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>

  <body>
    
  <nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <%= link_to "Inicio", root_path, class: 'navbar-brand' %>
      <!--<a class="navbar-brand" href="#">Navbar</a>-->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <%= link_to "Segunda vista", '/pages/two', class: 'nav-link' %>
            <!--<a class="nav-link active" aria-current="page" href="#">Home</a>-->
          </li>
          <li class="nav-item">
            <%= link_to "Tercera vista", '/pages/three', class: 'nav-link' %>
            <!--<a class="nav-link" href="#">Features</a>-->
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <%= yield %>
  </body>
</html>
