<div class="row justify-content-center">
  <div class="col-5">  
    <%= form_with(model: story) do |form| %>

      <div class="mb-3">
        <%= form.label :title, class: 'form-label' %>
        <%= form.text_field :title, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :picture, class: 'form-label' %>
        <%= form.text_field :picture, class: 'form-control' %>
      </div>

      <div class="mb-3">
        <%= form.label :content, class: 'form-label' %>
        <%= form.text_area :content, class: 'form-control' %>
      </div>
      
      
      <%= form.submit "Publicar", class: 'btn btn-primary' %>
      
    <% end %>

  </div>
</div>
